.slider-main {
  display: flex;
  margin: 1rem auto;
  padding: 5rem 2rem;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--background-blue);
}
.slider {
  display: flex;
  align-self: center;
  width: 80vw;
  align-items: center;
  justify-content: center;
}
.project {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  width: 50vw;
}
.project-screenshot {
  width: 15rem;
  height: auto;
  padding: 2rem;
}
.project-img :hover {
  width: 25rem;
  height: auto;
}
.prev-arrow {
  font-size: 70px;
  margin: 10px;
  padding: 10px;
}
.next-arrow {
  font-size: 70px;
  margin: 10px;
  padding: 10px;
}
.project-description {
  background: transparent;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
  margin: 1rem auto;
}
.project-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (min-width: 800px) {
  .slider {
    max-width: 1170px;
    margin: 1rem auto;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .project-screenshot {
    width: 30rem;
    height: auto;
    padding: 2rem;
  }
  .project-img :hover {
    width: 50rem;
    height: auto;
  }
  .project {
    flex-direction: row;
    width: 80vw;
    height: 50vh;
  }
  .project-description {
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
